<div id="accommodations">
	<app-hero></app-hero>
</div>
<section>
	<div class="container">
		<div class="content">
			<h2 class="text-center">Guest Data</h2>
			<div class="d-flex align-items-center justify-content-center mb-4">
				<div>Invited: {{guestsInvited}}</div>
				<div class="px-4">Accepted: {{guestsAccepted}}</div>
				<div>Declined: {{guestsDeclined}}</div>
			</div>
			<h2 class="text-center">Guests</h2>
			<div class="d-flex justify-content-center align-items-center mb-4">
				<select class="custom-select w-auto" [(ngModel)]="displayChoice">
					<option value="all">View All</option>
					<option value="accepted">Accepted</option>
					<option value="declined">Declined</option>
				</select>
			</div>
			<div class="households">
				<div class="row">
					<div class="col-md-4" *ngFor="let guest of guests" [class.ghost]="state(guest).isLoading" [class.announcement]="state(guest).isLoaded" [hidden]="displayChoice !== (guest.data?.accept ? 'accepted' : (guest.data?.accept !== undefined ? 'declined' : '')) && displayChoice !== 'all'">
						<div class="lines">
							<h5>{{guest.data?.firstName}}&nbsp;{{guest.data?.lastName}}</h5>
							<div>{{guest.data?.accept !== undefined ? (guest.data?.accept ? 'Accepted' : 'Declined') : 'No Response'}}</div>
							<div *ngIf="guest.data?.accept !== undefined && guest.data?.accept">
								<div>{{guest.data?.foodChoice}}</div>
								<div *ngIf="guest.data?.household.stayingInRpv">{{guest.data?.household.stayingLocation}}</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
