<div id="home">
	<div class="main-content">
		<app-hero imageSrc="../../../assets/images/home-hero.jpg" title="Haley &amp; Josh" [showGettingMarried]="true" [weAreMarried]="weAreMarried"></app-hero>
		<section class="begins-in">
			<div class="container">
				<div class="content text-center">
					<h2 *ngIf="!weAreMarried">Ceremony Begins In</h2>
					<h2 *ngIf="weAreMarried" class="we-are-married"><fa name="heart"></fa>&nbsp;We're Married!&nbsp;<fa name="heart"></fa></h2>
					<div *ngIf="!weAreMarried">
						<span class="mr-2">{{days}} Days</span>
						<span class="mr-2">{{hours}} Hours</span>
						<span class="mr-2">{{minutes}} Minutes</span>
						<span class="mr-2">{{seconds}} Seconds</span>
					</div>
				</div>
			</div>
		</section>
		<section class="her-him mb-5">
			<div class="container">
				<div class="row">
					<div class="col-md-6">
						<div class="image-wrap mb-2">
							<img src="../../../assets/images/haley-bio.jpg" alt="Haley" />
						</div>
						<h3>Her</h3>
						<p>Hey, girl, hey! Haley here! I spend my down time (if I ever have any) singing Arianna Grande songs at the top of my lungs and getting my nails done every other day cuz yolo.</p>
						<h5>A Few of My Favorite Things:</h5>
						<div><strong>Movie</strong>: Grand Budapest Hotel</div>
						<div><strong>Car</strong>: G Wagon</div>
						<div><strong>Food</strong>: Mediterranean</div>
						<div><strong>Place</strong>: Beach</div>
						<div><strong>Music</strong>: Kings of Leon, Incubus, Kanye and Jay Z (Watch the Throne)</div>
						<div><strong>Person</strong>: Chloe. I love my puppy.</div>
						<div class="text-medium font-italic d-none d-md-block mt-4">I am kind of in love with Him <fa name="long-arrow-right" class="ml-2"></fa></div>
					</div>
					<div class="col-md-6">
						<div class="image-wrap mb-2">
							<img src="../../../assets/images/josh-bio.jpg" alt="Josh" />
						</div>
						<h3>Him</h3>
						<p>Sup bro! The name's Josh, but you probably know me by how much Haley talks about my muscles and how good looking she thinks her fiance (me) is. Born and raised on the beaches of SoCal, I spend my days programming, surfing, and at the gym getting yolked.</p>
						<h5>A Few of My Favorite Things:</h5>
						<div><strong>Movie</strong>: Lone Survivor or Zero Dark Thirty</div>
						<div><strong>Car</strong>: Audi R8 V10 Plus</div>
						<div><strong>Food</strong>: Mexican</div>
						<div><strong>Place</strong>: Beach</div>
						<div><strong>Music</strong>: Kings of Leon, A Day To Remember, Bonobo</div>
						<div><strong>Person</strong>: Haley</div>
						<div class="text-medium font-italic d-none d-md-block mt-4"><fa name="long-arrow-left" class="mr-2"></fa>I am kind of in love with Her</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6 offset-md-3">
						<div class="image-wrap mb-2">
							<img src="../../../assets/images/chloe-bio.jpg" alt="Josh" />
						</div>
						<h3>Chloé</h3>
						<p>Hi all, I’m Chloé Grace! Named after the Chloé Scalloped Leather Ballet Flat, obvi! In the morning I wakeup my mom for snuggles before a long day of napping. My mom says we are moving in with this guy soon. He has been around for awhile now. I think his name is Floss… or Squash… idk. He's just whatever though…</p>
						<div class="text-medium font-italic d-none d-md-block mt-4"><fa name="long-arrow-up" class="mr-2"></fa>Haley is awesome!</div>
					</div>
				</div>
			</div>
		</section>
		<section class="images">
			<h2 class="mb-4 text-center">Our Adventure</h2>
			<ngb-carousel *ngIf="images" [showNavigationArrows]="showNavigationArrows" [showNavigationIndicators]="showNavigationIndicators">
				<ng-template ngbSlide *ngFor="let image of images">
					<img [src]="image" alt="Random slide">
					<div class="carousel-caption"></div>
				</ng-template>
			</ngb-carousel>
		</section>
	</div>
</div>
