<div id="proposal">
	<app-hero imageSrc="../../../assets/images/home-hero.jpg" title="Wedding Details"></app-hero>
</div>
<section>
	<div class="container">
		<div class="content">
			<h3 class="text-center mb-5">Schedule Breakdown</h3>
			<h4>Hotel Check-In</h4>
			<div class="mb-3"><strong>4 PM</strong></div>
			<h4>Ceremony Start Time</h4>
			<div class="mb-1"><strong>5:30 PM</strong></div>
			<p>The ceremony is located down by the cliff at Catalina Point. Below is a map for reference.</p>
			<h4>Cocktail Hour</h4>
			<div class="mb-3"><strong>6:30 PM - 7:30 PM</strong></div>
			<h4>Reception</h4>
			<div class="mb-2"><strong>7:30 PM - 11:30 PM</strong></div>
			<p>In the Catalina Room.</p>
			<div class="image-wrap">
				<img src="../../../assets//images/catalina-point.png" alt="Ceremony Location" />
			</div>
		</div>
	</div>
</section>
